
.main-footer{
    background-color: rgb(4, 72, 4);
    text-align: center; color: white; padding-top: 15px;
    padding-bottom: 15px;  font-size: 15px;
    border-top: 4px solid red;
    position: fixed; bottom: 0; left: 0; right: 0;
    height: 10px;
}
body{
    padding-bottom: 80px;
}